<template>
  <div class="daily12">
    <h1>Daily12</h1>
    <p>
      <a
        href="https://nutritionfacts.org/video/dr-gregers-daily-dozen-checklist/"
        target="_blank"
        rel="noopener"
      >Dr. Greger’s Daily Dozen Checklist</a>.
    </p>

  <table id="dailyitems">
    <tr>
      <td class="dailyitem">Beans</td>
      <td>Black beans, butter beans, cannellini beans, chickpeas, edamame/soyabeans, peas, kidney, haricot, lentils, pinto etc.</td>
    </tr>
    <tr>
      <td class="dailyitem">Berries</td>
      <td>Acai berries, barberries (good for acne), blackberries, blueberries, cherries, cranberries, goji berries, raspberries, strawberries etc.</td>
    </tr>
  </table>

  </div>
</template>

<script>
export default {
  name: "Daily12",
  props: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#dailyitems {
  /*border-spacing: 5px;
  border-bottom: 1px solid #ddd;*/
  border-collapse: collapse;
  width: 100%;
}
#dailyitems tr:nth-child(even){background-color: #f2f2f2;}

#dailyitems tr:hover {
  background-color: #ddd;
}
#dailyitems th, td {
  text-align: left;
  /*border: 1px solid #ddd;*/
  padding: 8px;
}
#dailyitems th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.dailyitem {
  color: #42b983;
}

</style>
